<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Firebase Auth</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <form id="MainForm">
            <h2>Log in User</h2>
            <div class="form-floating   mb-3">
                <input type="email" class="form-control" id="emailinput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating  mb-3">
                <input type="password" class="form-control" id="passwordinput" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            
                <button class="form-floating  mb-3" type="submit">Log in</button>
          

        
            
        </form>
        <div class="register"></div>
        <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script type="module" src="../static/js/login.js"></script>
</body>
</html>
